Beet Market/Connected Services/ServiceReference2/MarketService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Market_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Market_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pirce" type="xs:int" />
      <xs:element minOccurs="0" name="Cate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="How" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Id" type="xs:int" />
      <xs:element minOccurs="0" name="P_See" type="xs:int" />
      <xs:element minOccurs="0" name="P_Status" type="xs:int" />
      <xs:element minOccurs="0" name="P_Js" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Dt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="U_Img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>