Beet Market/Connected Services/ServiceReference2/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProductInsert_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9100/MarketService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9100/MarketService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9100/MarketService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Market_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductInsert_InsertProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProduct" />
  </wsdl:message>
  <wsdl:message name="IProductInsert_InsertProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInsert_GetProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductList" />
  </wsdl:message>
  <wsdl:message name="IProductInsert_GetProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInsert_See_insert_InputMessage">
    <wsdl:part name="parameters" element="tns:See_insert" />
  </wsdl:message>
  <wsdl:message name="IProductInsert_See_insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:See_insertResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInsert_On_InputMessage">
    <wsdl:part name="parameters" element="tns:On" />
  </wsdl:message>
  <wsdl:message name="IProductInsert_On_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInsert_Off_InputMessage">
    <wsdl:part name="parameters" element="tns:Off" />
  </wsdl:message>
  <wsdl:message name="IProductInsert_Off_OutputMessage">
    <wsdl:part name="parameters" element="tns:OffResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductInsert">
    <wsdl:operation name="InsertProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInsert/InsertProduct" message="tns:IProductInsert_InsertProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInsert/InsertProductResponse" message="tns:IProductInsert_InsertProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInsert/GetProductList" message="tns:IProductInsert_GetProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInsert/GetProductListResponse" message="tns:IProductInsert_GetProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="See_insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInsert/See_insert" message="tns:IProductInsert_See_insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInsert/See_insertResponse" message="tns:IProductInsert_See_insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="On">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInsert/On" message="tns:IProductInsert_On_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInsert/OnResponse" message="tns:IProductInsert_On_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Off">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInsert/Off" message="tns:IProductInsert_Off_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInsert/OffResponse" message="tns:IProductInsert_Off_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProductInsert" type="tns:IProductInsert">
    <wsp:PolicyReference URI="#NetTcpBinding_IProductInsert_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InsertProduct">
      <soap12:operation soapAction="http://tempuri.org/IProductInsert/InsertProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <soap12:operation soapAction="http://tempuri.org/IProductInsert/GetProductList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="See_insert">
      <soap12:operation soapAction="http://tempuri.org/IProductInsert/See_insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="On">
      <soap12:operation soapAction="http://tempuri.org/IProductInsert/On" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Off">
      <soap12:operation soapAction="http://tempuri.org/IProductInsert/Off" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="NetTcpBinding_IProductInsert" binding="tns:NetTcpBinding_IProductInsert">
      <soap12:address location="net.tcp://localhost:8100/MarketService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8100/MarketService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>