Beet Market/Connected Services/ServiceReference1/KakaoService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KakaoLogin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KakaoLogin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfChatRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatRoom" nillable="true" type="tns:ChatRoom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatRoom" nillable="true" type="tns:ArrayOfChatRoom" />
  <xs:complexType name="ChatRoom">
    <xs:sequence>
      <xs:element minOccurs="0" name="A_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_imgUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_Dt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="J_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="J_imgUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Tag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatRoom" nillable="true" type="tns:ChatRoom" />
</xs:schema>